@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #ff3333;
    --black:rgba(255, 255, 255, .2) ;
    --bg:rgb(255, 255, 255, .3);
    --border:.1rem solid rgba(255, 255, 255, .2);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    scroll-behavior: smooth;
    list-style: none;
 }

 html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
 }

 html::-webkit-scrollbar {
    width: 12px;
 }
 html::-webkit-scrollbar-track {
    background: #000;
 }
 html::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #ff3333);
    border-radius: 6px;
 }

 body {
    background-image: url(menupage.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 20px;
 }
 html body {
   scroll-behavior: smooth;
 }

 section {
    padding: 2rem 7%;
 }

.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
    border-radius: 5px;
}
.container h1 {
    color: #fff;
    font-size: 50px;
}
.container a:hover {
    color: #fff;
    text-shadow:0px 0px 10px #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.container a:link {
    text-decoration: none;
}
.container a:visited {
    color: #ff3333;
}
header{
    display: grid;
    grid-template-columns: 1fr 100px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
    margin-top: 20px;
}
header .shopping span{
    margin-top: 20px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: var(--black);
    padding: 20px;
    letter-spacing: 1px;
}
.list .item:hover {
    box-shadow: 0 50px 50px #ff3939;
    transition: .5s;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.list .item .price{
    margin: 10px;
    font-size: 25px;
    color: #fff;
}
.list .item button{
    background-color: #ff3333;
    color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 15px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #222;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #fff;
    font-weight: 500;
    margin: 0;
    padding: 0 20px;
    height: 100px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #ff3333;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
    font-size: 20px;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
    font-size: 30px;
    padding: 2px
}
.listCard .count{
    margin: 0 10px;
}
